.login-btn{
    background-color: #111430;
    color: #fff!important;
    padding: 5px 45px;
    border-radius: 6px;
    margin-right: auto;
}

a:link {
    text-decoration: none;
  }
  .login-btn:hover {
    background-color: lightgreen;
    display: inline-block;
    
  }

  .text-clr{
      color: black;
  }